body {
  background-color: #baeaf7;
}

.container {
  width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}

.options_title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.list_title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.options {
  background-color: aqua;
  width: 50%;
  text-align: center;
  border-radius: 40px;
  margin-right: 10px;
}

.task_list {
  background-color: rgb(103, 251, 137);
  width: 50%;
  border-radius: 40px;
  text-align: center;
}

Button {
  border-radius: 50px;
  margin-left: 10px;
  border: none;
  background-color: rgb(85, 85, 254);
  color: #fff;
  cursor: pointer;
  height: 40px;
}

.task_name {
  height: 30px;
  border-radius: 50px;
  border: 3px solid rgb(85, 85, 254);
  background-color: #dafffd;
}

.search {
  margin-top: 20px;
}

.task_name::placeholder {
  text-align: center;
  color: #3c00ff;
}

li {
  list-style: none;
}

.nav_link {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  display: block;
}





